{% extends 'base.html' %} {% block content %}

<h1>New Stock</h1>

<form method="POST" action="{{ url_for('main.new_stock') }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Please enter the stock's information:</legend>

    {{ form.name.label }} {{ form.name }}
    <ul>
      {% for error in form.password.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.desc.label }} {{ form.desc }}
    <ul>
      {% for error in form.password.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.value.label }} {{ form.value }}
    <ul>
      {% for error in form.password.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
